.showpage-container {
  border: 2px solid black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;;
}

.info-container {
  width: 40em;
  min-height: 30em;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image {
  width: 250px;
}